:root {
    box-sizing: border-box;
}
body {
    background-image: url("flowers-4151900_1280.jpg");
}

#box {
    width:100px;
    height:100px;
    position:absolute;
    left:200px;
    top:200px; 

}

img {
  width: 100px;
  height: 100px;
}

h1 {
    text-align: center;
}
h4 {
    text-align: center;
}
